/* Force Furo to light mode */
:root {
  color-scheme: light !important;
}

html {
  color-scheme: light !important;
}

html[data-theme="dark"] {
  --color-scheme: light !important;
}

/* Prevent auto-switching */
html[data-theme="dark"] {
  background-color: var(--color-background-primary) !important;
}

.content-icon-container{
  display: none;
}

.back-to-top{
  display: none !important;
}